
export(MultiNet)
export(MultiNetpath)
export(Power.law.network)
export(generate.data)
export(refitGMM)
import(MASS)
import(glasso)
import(stats)
importFrom(Matrix,bdiag)
importFrom(igraph,ba.game)
importFrom(igraph,get.edgelist)
import(Rcpp)
useDynLib(MultiNet, .registration = TRUE)
